---
prismStyle: 'vscode-dark'
---
<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

		{% include navbar.html %}
    <header class="site-header">
      <div class="jumbotron awarica-landing-page-jumbotron dexie-cloud-docs" style="text-shadow: 0 0 1px #fff, 0 0 2.5px #cbcafd;">
        <img class="bg-image" src="/assets/images/bg5.png"/>
        <div class="container">
          <h1>Awarica AB</h1>
          <!-- <p>
            Let's build apps together that people will love.
          </p> -->
          <p>
            We enable great apps with good performance in all network conditions
          </p>
        </div> 
      </div>
    </header>
    

    <main class="container" style="line-height: 20pt; text-shadow: 0 0 1px #fff, 0 0 2px #a6a9f4; font-size: medium;">
      <style>
        #callouts h2, #callouts p {
          padding-bottom: 16px;
        }
      </style>
      <div class='container' id='callouts'>
        <div class='row glow'>
          <div class='col-md-4'>
            <h2><a href="/dexie">Dexie.js</a></h2>
            <p>
              We are the maintainers of the most popular open source library ever for accessing IndexedDB. It has over 10,000 stars on Github and
              used by well known apps and brands including Whatsapp, Microsoft, Flightradar24, Mindvalley, Walmart + tens of thousands other web sites, libraries and apps.
            <p><a href="/dexie">Read our personal story &raquo;</a></p>

          </div>
          <div class='col-md-4'>
            <h2><a href="/dexie-cloud">Dexie Cloud</a></h2>
            <p>
              This is our flagship product helping customers to build apps with great performance and functionality
               <b>no matter the network conditions</b>.
              Dexie Cloud completes Dexie.js by syncing the local database with a server-side database and supports multi-user access control.
              Available as both installable software and cloud service.
            </p>
            <p><a href='/dexie-cloud'>Read more &raquo;</a></p>
          </div>
          <div class='col-md-4'>
            <h2><a href="/services">Our Services</a></h2>
            <p>With passion for end-user experiences, smartness and usability, we and our partners love to help you realise your great ideas into concrete applications ready to ship to your users.
              When we're not developing Dexie.js or Dexie Cloud, we help our customers be successful with their great apps.
              <br/><br/>
             </p>
            <p><a href='/services'>Ream more &raquo;</a></p>
          </div>
        </div>
      </div>
      <!-- <h2 style="text-align: center;">Our partners</h2>      
      <div class='container' id='callouts'>
        <div class='row'>
          <div class='col-md-6'>
            <h2>Zenta AB</h2>
            <p>
              The most popular open source library for accessing IndexedDB - to build apps with full performance and functionality no matter the network conditions - used by Whatsapp, Microsoft, Flightradar24, Mindvalley, Walmart + tens of thousands other web sites, libraries and apps.              
            <p><a href="#live-queries">Read our story &raquo;</a></p>

          </div>
          <div class='col-md-6'>
            <h2>Vemendo AB</h2>
            <p>
              Available as both installable software and cloud service, Dexie Cloud completes Dexie.js by syncing your local database with a server-side database. It's built on top of Dexie.js, supports multi-user access control and is designed to be easy to get started with.
            </p>
            <p><a href='/docs/Tutorial/'>Read more &raquo;</a></p>
          </div>
        </div>
      </div>      -->
    </main>
    {% include footer.html %}
    <script src='/assets/js/prism-2020.js'></script>
    <script src='/assets/js/prism-svelte.js'></script>
		<script src='/assets/js/jquery.min.js'></script>
    <script src='/assets/js/bootstrap.min.js'></script>
    {% include google-analytics.html %}
    <!-- Include dexie for people wanting to open devtools to laborate -->
    <script async src='https://unpkg.com/dexie'></script>
    
    <!-- Highlight anchors the same way as github wiki works -->
    <script defer src="/assets/js/highlight-anchors.js"></script>

    <!-- Allow shoutouts -->
    <script src="/assets/js/anime.min.js"></script>
    <script src="/assets/js/shoutouts.js"></script>
    
    
  </body>

</html>
