<!DOCTYPE html>
<html>
	<head>
		<title>Dexie.js - Minimalistic IndexedDB Wrapper</title>
		<meta charset='utf-8'>
		<meta http-equiv='X-UA-Compatible' content='IE=edge'>
		<meta name='viewport' content='width=device-width, initial-scale=1'>
		<meta name='description' content='The easiest way to use IndexedDB. A lightweight, minimalistic wrapper that provides a straightforward API for developers using IndexedDB.'>
		<meta name='google-site-verification' content='bFdw7dX5NwJCo_bf9zjRqrunuZ6aHBpIEpBX3oy3ItM'/>
		<link href='/assets/css/bootstrap.min.css' rel='stylesheet'>
		<link href='/assets/css/prism-vscode-dark.css' rel='stylesheet'>
		<link href='/assets/css/stylesheet.css' rel='stylesheet'>
		<link rel="shortcut icon" href="/assets/images/favicon-yuri.png" />
		<script src="/assets/js/lazyload.min.js"></script>
		<script src='/assets/js/prism-highlight.js'></script>
	</head>
	<body class='language-javascript'>

		{% include navbar.html %}

		<div class='jumbotron' id='parallax'>
			<div class='parallax-wrap'>
				<div class='layer'>
					<img src='/assets/images/bg5.png'/>
				</div>
<!--						<div class='layer' data-depth='.3'>
					<img src='/assets/images/cool-background2.png'/>
				</div>-->
			</div>
			<!-- <div class="video-parent">
				<video class="banner-video" autoplay muted loop>
					<source src="https://dexie.blob.core.windows.net/dexie/Galaxy.mp4" type="video/mp4">
				</video>
			</div>	 -->
			<div class='container'>
				<br>
				<br>
				<h1>Awarica AB</h1>
				<p>
					We enable greater apps by providing the best tools for developers.
				</p>
				<!--<a href="/cloud/" id="cloud-promoter">
					<div class="shoutouts">
						<p>Dexie.js</p>
						<p>Dexie Cloud</p>
					</div>
					<p>read more<span style="display: inline-block; margin-left: -1em;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&raquo;</span></p>
				</a>-->
			</div>
		</div>

		{{ content }}

		{% include footer.html %}

		<script src='/assets/js/jquery.min.js'></script>
		<script src='/assets/js/bootstrap.min.js'></script>
		<script src='/assets/js/prism-2020.js'></script>
		<script src='/assets/js/prism-svelte.js'></script>
		<script src='/assets/js/parallax.min.js'></script>
    <script src="/assets/js/anime.min.js"></script>
    <script src="/assets/js/shoutouts.js"></script>
		<script>
			//new Parallax(document.getElementById('parallax'));
			var lazyLoadInstance = new LazyLoad({});
			document.addEventListener("DOMContentLoaded", prismHighlight.highlight);
      document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
        anchor.addEventListener("click", function (e) {
					var href = this.getAttribute("href");
					if (href === "#") return;
					var elem = document.querySelector(href);
					if (elem) {
						e.preventDefault();
						elem.scrollIntoView({
							behavior: "smooth",
						});
					}
        });
      });
		</script>
		{% include google-analytics.html %}
		<script async defer src='//unpkg.com/dexie'></script>
	</body>
</html>
